.App {
  max-width: 600px;
  margin-top: 60px;
}
.App h1{
  font-size: 64px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 10px;
}
.App h2{
  font-size: 36px;
}
.App .Search-form button {
  max-width: 100px;
  margin-left: 10px;
}
.App .Current-temperature {
  margin-top: 25px;
  margin-bottom: 25px;
}
.App .App-section {
  margin-top: 20px;
}
.App .App-section p {
  margin-bottom: 0;
  opacity: 0.7;
}

